<?xml version="1.0" ?>

<robot name="Chaser">

  <!-- Colors -->
  <material name="Grey">
    <color rgba="0.57 0.57 0.57 1.0"/>
  </material>
  <material name="Orange">
    <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
  </material>
  <material name="Blue">
  <color rgba="0.5 0.7 1.0 1.0"/>      
  </material>
  <material name="Red">
    <color rgba="1 0 0 1.0"/>      
  </material>

  <!--Spacecraft-->
  <link name="Spacecraft">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="500"/>
      <inertia ixx="400" iyy="400" izz="400" ixy="0" ixz="0"  iyz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="1 1 1" />
      </geometry>
      <material name="Grey"/>
    </visual>
  </link>
  

  <!-- Joint 1 -->
  <joint name="jnt1" type="revolute">
    <parent link="Spacecraft"/>
    <child link="Link1"/>
    <origin rpy="0 0 0" xyz="0 0 0.5"/>
    <axis xyz="0 0 1"/>
    <limit effort="0" velocity="0"/>
    <dynamics damping="0.0" friction="0.0"/>
  </joint>
  
  <!-- Link 1 -->
  <link name="Link1">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0.25"/>
      <mass value="0.36"/>
      <inertia ixx="0.82" iyy="1" izz="0.82" ixy="0" ixz="0" iyz="0"/>
    </inertial>    
  </link>

  <!-- Joint 2 -->
  <joint name="jnt2" type="revolute">
    <parent link="Link1"/>
    <child link="Link2"/>
    <origin rpy="1.5708 0 0" xyz="0 0 0.5"/>
    <axis xyz="0 0 1"/>
    <limit effort="0" velocity="0"/>
    <dynamics damping="0.0" friction="0.0"/>
  </joint>

  <!-- Link 2 -->
  <link name="Link2">
    <inertial>
      <origin rpy="0 0 0" xyz="1.25 0 0"/>
      <mass value="9.20"/>
      <inertia ixx="0.03" iyy="5.24" izz="5.24" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>

</robot>




